@mixin d-flex($row, $wrap, $justify, $align) {
    display: flex;
    flex-flow: $row $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin bg($position, $repeat, $attachment, $size) {
    background-position: $position;
    background-repeat: $repeat;
    background-attachment: $attachment;
    background-size: $size;
}
