@import url("https://fonts.cdnfonts.com/css/iranyekan");
@font-face {
  font-family: vazir;
  src: url(../fonts/webfonts/Vazirmatn-Black.woff2) format("woff2");
}
@font-face {
  font-family: vazir-bold;
  src: url(../fonts/webfonts/Vazirmatn-Bold.woff2) format("woff2");
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/back-ground/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  font-family: "IRANYekan" !important;
}

header nav {
  background-color: #6b6a6a;
}
header nav .dropdown-menu {
  background-color: #6b6a6a;
  border: none;
}
header nav ul li a:not(.contact) {
  color: white !important;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
.my-card {
  border-radius: 1rem !important;
}

#login-title {
  font-family: vazir !important;
}

#login-book-img {
  width: 10rem;
}

#bgf {
  background-color: #A1887F !important;
}

.form-floating label {
  right: 0 !important;
  top: -6px !important;
  left: initial !important;
  opacity: 0.7 !important;
  font-size: 16px !important;
}

#login-hafez-img {
  border-radius: 1rem 0 0 1rem;
  height: 100%;
  width: 100%;
}

form input[type=text],
form input[type=password],
form input[type=email] {
  padding: 6px;
  border: 1px solid gray;
  width: 100%;
  border-radius: 1rem;
}

footer {
  margin-top: 3rem;
  width: 100%;
  background-color: #646464;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 2rem;
}
footer .logo {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
footer .logo .contact {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .logo .contact span {
  font-size: 20px;
  font-weight: bold;
}
footer .logo .contact i {
  font-size: 36px !important;
}
footer .map {
  width: 100%;
  text-align: center;
}

.success {
  border-color: green !important;
  background-color: rgba(172, 255, 47, 0.151) !important;
}

.error {
  border-color: red !important;
  background-color: rgba(228, 15, 15, 0.171) !important;
}

input:focus {
  box-shadow: 0 0 0 0 !important;
}

#password-text,
#f-name-text-e,
#f-name-text-p,
#gmail-text {
  font-size: 14px;
  text-align: right !important;
}

.pages {
  width: 20%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 11rem;
  display: flex;
  justify-content: space-between;
}

.pages > div {
  border: 5px solid gray;
  border-radius: 50px;
  padding: 8px 15px;
  font-weight: 600;
}

.pages span {
  content: "";
  width: 100%;
  height: 4px;
  background-color: gray;
  align-self: center;
  transition: 0.5s ease;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btns button {
  border: none;
  padding: 10px 20px;
  background-color: rgb(70, 92, 216);
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

.prevBtn {
  background-color: rgb(175, 175, 175);
}

.active {
  background-color: #a0ca84 !important;
}

.active + span {
  background-color: #a0ca84 !important;
}

.select {
  height: 3.25rem !important;
  border-radius: 1rem !important;
}

/*# sourceMappingURL=style-login.css.map */
