* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 20px;
}

main #supra-car {
    width: 500px;
    height: 283px;
    border-radius: 20px;
}

main .thumb-nail-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main .thumb-nail-gallery img {
    border-radius: 20px;
    transition: opacity 0.8s;
}

main .thumb-nail-gallery img:hover {
    cursor: pointer;
    opacity: 0.8;
}