@font-face {
    font-family: vazir;
    src: url(../fonts/webfonts/Vazirmatn-Black.woff2) format("woff2");
}

@font-face {
    font-family: vazir-bold;
    src: url(../fonts/webfonts/Vazirmatn-Bold.woff2) format("woff2");
    font-weight: bold;
}

@import url('https://fonts.cdnfonts.com/css/iranyekan');