* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ddd !important;
}

section>div {
    height: 150px;
    background: white;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    color: #004747;
    border: 1px solid #004747;

}


section {
    display: grid;
    grid-template: repeat(3, 150px) /repeat(3, 150px);
    justify-content: center;
    align-content: center;
    width: 60%;
}


h2 {
    color: rgb(64, 0, 182);
    font-family: cursive;

}