body {
    display: flex;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0
}

section>div {
    height: 150px;
    background: white;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    color: rgb(0, 71, 71);

}


section {
    background: rgb(0, 75, 145);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 60%;
}


h2 {
    color: rgb(53, 94, 95);
    font-family: cursive;

}