* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd !important;
    font-family: cursive !important;
}

.bg-orange {
    background-color: #FF3D00 !important;
}

article {
    width: 100%;
    text-align: center;
    margin: 5rem auto 1rem auto;
    font-size: 20px !important;
    font-weight: bold;

}

main {
    width: 100%;
    display: grid;
    grid-template: repeat(6, 150px)/repeat(6, 150px);
    justify-content: center;
    align-content: center;
}

main div {
    border: 1px solid black;
    background-color: aqua;
}